name: Enable Auto Merge

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  enable:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: alexwilson/enable-github-automerge-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
