name: Run every minute

on:
  schedule:
    - cron: '15 * * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello
        run: echo "รันทุก 1 นาที ⏱️"
